<%= link_to "login", login_path %>

<div class="chatroom-container" id="message-container">
  <%= render @messages %>
  <div class="send-message">
    <%= form_for(@message, url: message_path, remote: true) do |f| %>
      <%= f.text_field :body, class: "send-message-input", required: true %>
      <%= f.button "Send" %>
    <% end %>
  </div>
</div>
